<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringbootApplication (IDEA)" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.example.SpringbootApplication" />
    <module name="springboot" />
    <option name="WORKING_DIRECTORY" value="file://$PROJECT_DIR$/springboot" />
    <method v="2" />
  </configuration>
</component>
