<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringbootApplication (springboot module)" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="springboot" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.SpringbootApplication" />
    <option name="PROGRAM_PARAMETERS" value="" />
    <option name="VM_PARAMETERS" value="" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>
